<!doctype html>
<html lang="en">

{% load static %}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pagina de Inicio</title>
    <!--<title>FLOWERSANDPOWERholis</title>-->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css"> {% load static %} "{% static 'core/img/Flowers.png' %}
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <link rel="stylesheet" href="popper.min.js">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
    <!--<h1>FLOWERSANDPOWER</h1>-->
    <!--- Navbar Superior-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <div class="container-fluid">


            <img src="archivos iniciales/Fotos/FotosPagPrincipal/WhatsApp_Image_2022-04-07_at_4.59.49_PM-removebg-preview.png" alt="" width="100">
            <h6><i>Flowers and Power </i></h6>
            <a class="navbar-brand">
            </a>

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-dark"></span>


      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Pagina Principal</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown " href="# " role="button " aria-expanded="false ">Cuenta Usuario</a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="{ % url 'InicioSesion1'%}">Acceder</a></li>
                            <li><a class="dropdown-item " href="# " data-toggle="modal " data-target="#modaldesconnexion " id="modaldesconnexionb ">Desconectar Cuenta</a></li>
                            <li><a class="dropdown-item " href="F_Crear_Cuenta.html ">Crear Cuenta de Usuario</a></li>
                            <li><a class="dropdown-item " href="Seguimiento.html ">Seguimiento de Compra</a></li>
                            <li><a class="dropdown-item " href="HistoricoCompra.html ">Historico de Compras</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown " href="Producto.html " role="button " aria-expanded="false ">Producto</a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="Producto.html ">Ver Productos</a></li>
                            <li><a class="dropdown-item " href="Categoria.html ">Ver Categorias</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page " href="Contacto.html ">Contacto</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page " href="{% url 'Nosotros'%}">Nosotros</a>
                    </li>
                </ul>
                <br>
            </div>
            <form class="d-flex ">
                <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-primary " type="submit ">Search</button>
            </form>
            <form class="d-flex ">
                <button class="btn btn-outline-dark " type="submit ">
          <i class="bi-cart-fill me-1 "></i>
          <img src="464-4646442_carrito-de-compras-carro-de-compras-blanco-clipart.png " alt=" " width="30 " height="30 ">
          Compras
          <span class="badge bg-dark text-white ms-1 rounded-pill ">0</span>
        </button>
            </form>
        </div>
        </form>
    </nav>

    <!--- CARROUSEL-->

    <div id="carouselExampleFade " class="carousel slide carousel-fade " data-bs-ride="carousel ">
        <div class="carousel-inner ">
            <div class="carousel-item active ">
                <img id="imgCarrusel " src="archivos iniciales/Fotos/Fotos Index/index_1_1.jpg " class="data-bs-slide w-100 " alt="... " width="450 ">
            </div>
            <div class="carousel-item ">
                <img id="imgCarrusel " src="archivos iniciales/Fotos/Fotos Index/index_2_1920.jpg " class="d-block w-100 " alt="... " width="450 ">
            </div>
            <div class="carousel-item ">
                <img id="imgCarrusel " src="archivos iniciales/Fotos/Fotos Index/index_3_3.jpg " class="d-block w-100 " alt="... " width="450 ">
            </div>
        </div>
        <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleFade " data-bs-slide="prev ">
      <span class="carousel-control-prev-icon " aria-hidden="true "></span>
      <span class="visually-hidden ">Previous</span>
    </button>
        <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleFade " data-bs-slide="next ">
      <span class="carousel-control-next-icon " aria-hidden="true "></span>
      <span class="visually-hidden ">Next</span>
    </button>
    </div>

    <!--- DIEGO-->
    <div class="row">
        <h1> Hola pagina de prueba</h1>
    </div>
    <h2> Bienvenido {{nombre}} </h2>


    <h1>Listado vehiculos</h1>


    <div class="container ">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <table border="3" style="width: 1000px;">
                        <tr>
                            <td>Id producto</td>
                            <td>Nombre Prducto</td>
                            <td>Precio</td>
                            <td>descripcion</td>
                            <td>Categoria</td>
                        </tr>
                        {% for pr in productos %}
                        <tr>
                            <td>{{pr.idProducto}}</td>
                            <td>{{pr.nombreProducto}}</td>
                            <td>{{pr.precioProducto}}</td>
                            <td>{{pr.descripcionProducto}}</td>
                            <td>{{pr.categoria}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>

        </div>
    </div>


    {% for pr in productos %}


    <div class="container ">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{pr.imagenProducto.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{pr.idProducto}}</h5>
                        <p class="card-text">{{pr.nombreProducto}}</p>
                        <p class="card-text">${{pr.precioProducto}}</p>
                        <a href="{% url 'Contacto'%}" class="btn btn-primary ">Agregar al carrito</a>
                        <a href="Arbusto.html" class="btn btn-primary ">Agregar al carrito</a>

                    </div>
                </div>
            </div>

        </div>
    </div>


    {% endfor %}

    <!--- Categorias-->




    <!--- Footer-->

    <body>
        <footer class="bg-dark text-white pt-5 pb-4 ">
            <div class="container text-center text-md-left ">
                <div class="row text-center text-md-left ">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning ">Flowers And Power</h5>
                        <p>Tienda Online de Maceteros, Tierra de Hojas y Arbustos. Nuestro objetivo es que cada venta ayude a la Fundacion Animalitos Chile
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning ">Categorias</h5>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Maceteros</a>
                        </p>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Tierra de Hojas</a>
                        </p>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Arbustos</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 ">

                        <h5 class="text-uppercase mb-4 font-wigth-bold text-warning ">Redes Sociales</h5>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Instagram</a>
                        </p>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Facebook</a>
                        </p>
                        <p>
                            <a href="# " class="text-white " style="text-decoration: none; ">Whatsapp</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning ">Contactanos</h5>
                        <p>
                            <i class="fas fa-home mr-3 "></i>+56 9 9999 9999
                        </p>
                        <p>
                            <i class="bi bi-envelope "></i>contacto@flowersandpower.cl
                        </p>
                        <p>
                            <i class="fas fa-home mr-3 "></i>despacho@flowersandpower.cl
                        </p>



                    </div>
                </div>
                <hr class="mb-4 ">
                <div class="row align-item-center ">
                    <div class="col-md-7 col-lg-8 ">
                        <p> Copyrigth 2022 All Rigths reserver by:
                            <a href="# " class="text-white " style="text-decoration: none; ">
                                <strong class="text-warning ">The Providers</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>


    <div id="modaldesconnexion " class="modal " tabindex="-1 ">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h5 class="modal-title ">Desconectar Cuenta</h5>
                    <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
                </div>
                <div class="modal-body ">
                    <p>¿Desea cerrar sesión?</p>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-secondary " data-bs-dismiss="modal ">Si</button>
                    <button type="button " class="btn btn-primary ">No</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#modaldesconnexionb ").on('click', function() {
            $("#modaldesconnexion ").modal('show');
        });
    </script>
</body>

</html>