<!doctype html>
<html lang="en">
    {% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pagina de Inicio</title>
    <!--<title>FLOWERSANDPOWER</title>-->
    <link rel="stylesheet" href="{% static 'core/css/stylos.css'%}">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.js">
    <link rel="stylesheet" href="min.css">
    <link rel="stylesheet" href="popper.min.js">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>



<body><!--- Footer--> 
    <body>
        <footer class="bg-dark text-white pt-5 pb-4">
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-md-3 col-lg-3  col-xl-3 mx-auto mt-3 ">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Flowers And Power</h5>
                        <p>Tienda Online de Maceteros, Tierra de Hojas y Arbustos. Nuestro objetivo es que cada venta ayude a la Fundacion Animalitos Chile
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Categorias</h5>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Maceteros</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Tierra de Hojas</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Arbustos</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">

                        <h5 class="text-uppercase mb-4 font-wigth-bold text-warning">Redes Sociales</h5>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Instagram</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Facebook</a>
                        </p>
                        <p>
                            <a href="#" class="text-white" style="text-decoration: none;">Whatsapp</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Contactanos</h5>
                        <p>
                            <i class="fas fa-home mr-3"></i>+56 9 9999 9999
                        </p>
                        <p>
                            <i class="bi bi-envelope"></i>contacto@flowersandpower.cl
                        </p>
                        <p>
                            <i class="fas fa-home mr-3"></i>despacho@flowersandpower.cl
                        </p>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row align-item-center">
                    <div class="col-md-7 col-lg-8">
                        <p> Copyrigth 2022 All Rigths reserver by:
                            <a href="#" class="text-white" style="text-decoration: none;">
                                <strong class="text-warning">The Providers</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</body>
</html>